.item-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    width: 700px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .item-container {
        flex-direction: column;
        width: 95%;
    }
}